<form [hidden]="employee == undefined" #f="ngForm" (ngSubmit)="onSave(f)" novalidate>
  <label for="name">Name: </label><input name="name" value="{{employee?.name}}" id="name" ngModel required #name="ngModel"><br>
  <label for="latitude">Latitude: </label> <input type="number" name="latitude" value="{{employee?.latitude}}" id="latitude" ngModel required #latitude="ngModel"><br>
  <label for="longitude">Longitude: </label><input type="number" name="longitude" value="{{employee?.longitude}}" id="longitude" ngModel required #longitude="ngModel"><br>
  <button>Update</button>
</form>

