<form *ngIf="service;else loading" #f="ngForm" (ngSubmit)="onSave(f)" novalidate>
  <mat-form-field appearance="fill"><mat-label for="serviceName">Name: </mat-label><input matInput name="serviceName" value="{{service.serviceName}}" id="serviceName" ngModel required #serviceName="ngModel"></mat-form-field><br>
  <mat-form-field appearance="fill"><mat-label for="date">Date: </mat-label> <input matInput type="date" name="date" value="{{service.date}}" id="date" ngModel required #date="ngModel"></mat-form-field><br>
  <mat-form-field appearance="fill"><mat-label for="address">Address: </mat-label><input matInput name="address" value="{{address}}" id="address" #address1></mat-form-field> <button mat-raised-button type="button" (click)="addressButtonEvent(address1.value)">Parse address to longitude and latitude</button><br>
  <mat-form-field appearance="fill"><mat-label for="longitude">Longitude: </mat-label><input matInput name="longitude" value="{{service.longitude}}" id="longitude" ngModel required #longitude="ngModel"></mat-form-field>
  <mat-form-field appearance="fill"><mat-label for="latitude">Latitude: </mat-label><input matInput name="latitude" value="{{service.latitude}}" id="latitude" ngModel required #latitude="ngModel"><br></mat-form-field>
  <button mat-raised-button>Update</button>
</form>
<ng-template #loading>Loading...</ng-template>
