/* You can add global styles to this file, and also import other style files */
body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  margin: 5em 5em 0 5em;
}

mat-toolbar>span {
  margin-left: 2.5em;
}

table {
  margin-top: 5em !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
